.logo {
  float: left;
  width: 120px;
  height: 30px;
  margin: 16px 24px 16px 0;
  line-height: 1.4em;
  text-align: center;
  color: white;
  font-size: 20px;  
}

.content {
  padding: 0 50px;
  background-color: white;
  min-height: calc(100vh - 64px - 70px);
}

.shortner {
  width: 100%;
  background: #fff;
  padding: 24px 20px;
}

.linkField {
  display: flex;
  width: 100%;
}

.linkFieldInput {
  flex: 100%;
  margin-right: 5px;
}

.linkFieldButton {
  width: 120px;
}

.footer {
  text-align: center;
}

.tabs{
  height: 100%;
}

.tabpanes{
  height: 100%;
  background-color: white;
}